{% extends 'main.html' %}

{% block title %}
Show email
{% endblock title %}

{% block content %}
<style>
    .email-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>

<div class="email-container">
    <div>
        <div>
            <h1>Email info</h1>
        </div>
        <div>
            <h6>User: {{ email.user }}</h6>
            <h6>Email: {{ email }}</h6>
            <h6>Created: {{ email.created }}</h6>
            <h6>Last update: {{ email.updated }}</h6>
        </div>
        <hr>
        <h3>Conversation</h3>
        <hr>
        <div class="comment-form">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write your message here..." size="30">
            </form>
        </div>
        <hr>
        <div class="comment-wrapper">
            {% for message in conversation %}
                <p>
                    {% if request.user == message.user %}
                        <a href="{% url 'delete-message' message.id %}">Delete</a>
                    {% endif %}
                    <strong><a href="{% url 'profile' message.user.id %}">@{{ message.user }}</a></strong><br>
                    <i>{{ message.body }}</i><br>
                    <small>{{ message.created|timesince}} ago</small>
                </p>
            {% endfor %}
        </div>
    </div>

    <div>
        <h3>Participants</h3>
        <hr>
        {% for user in participants %}
            <div>
                <p>@{{ user.username }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
