<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body class="m-5 pb-5">
    {% include 'navbar.html' %}
    {% block content %}

    {% endblock %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li><strong>{{ message }}</strong></li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>